[data-theme="light"] {
  --vp-c-text-hero-name: #243241;
  --vp-c-text-hero-tagline: #30445a;
  --vp-c-text-hero-text: #30445a;
  --vp-button-alt-bg: #d4d4d4;
}

[data-theme="dark"] {
  --vp-c-text-hero-tagline: #f7f9ee;
}

.layout-home .footer-no-border .vp-footer {
  display: none;
}